#navbar {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.light-mode {
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: black;
    color: white;
}

.logo h1 {
    font-size: 30px;
    font-weight: 700;
}

.nav-list a {
    font-size: 22px;
    font-weight: 600;
    margin-right: 20px;
}

.nav-list button {
    font-size: 30px;
    margin-left: 30px;
}